.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

form {
  font-family: 'Henny Penny', cursive;
}

span {
  font-weight: bold;
}

.title {
  font-size: calc(1em + 2vmin);
  margin-top: 1.1em;
  margin-bottom: 0;
  font-family: 'Henny Penny', cursive;
}

.nav {
  padding: 1.7em;
  max-width: 100%;
  font-size: calc(0.3em + 2vmin);
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}

#search-house {
  background-color: #282c34;
  height: 1em;
  color: white;
}

.char-pic {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto auto 1em;
  width: 70px;
  height: 80px;
  border-radius: 50%;
  border: 1.5px solid rgb(226, 226, 111);
  border-style: outset;
}

.char-pic:hover {
  border: 1.5px solid#7f0909;
  border-style: inset;
  transform: scaleX(-1);
}

#charPic1 {
  width: 80px;
  height: 90px;
  border: 2px solid silver;
  border-style: groove;
}

.characters {
  display: inline-block;
  width: 120px;
  height: 150px;
  font-size: calc(0.3em + 2vmin);
  vertical-align: bottom;
  padding: 0.5em;
  border: 1px solid silver;
  border-style: groove;
  margin: 0.3em;
  position: relative;
}

.characters:hover {
  color: #d4af37;
}

.charName {
  height: 17%;
  font-size: calc(0.2em + 2vmin);
  font-family: 'Special Elite', cursive;
}

.actor {
  height: 40px;
  font-style: italic;
}

.description {
  text-transform: capitalize;
  font-family: 'Mountains of Christmas', cursive;
  font-size: calc(0.7em + 2vmin);
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: calc(0.18em + 2vmin);
    padding: 1.9em;
  }
} 

@media screen and (min-width: 600px) {
  .characters {
    margin-top: 1em;
  }
}




