.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

#title {
  font-size: calc(1em + 2vmin);
  margin-top: 1em;
  font-family: 'Henny Penny', cursive;
}

.nav {
  padding: 1.7em;
  max-width: 100%;
  font-size: calc(0.3em + 2vmin);
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}



#search-house {
  background-color: #282c34;
  height: 1em;
  color: white;
}

#char-pic {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto auto 1em;
  width: 70px;
  height: 80px;
  border-radius: 50%;
}

.characters {
  display: inline-block;
  width: 120px;
  height: 150px;
  font-size: calc(0.3em + 2vmin);
  vertical-align: bottom;
  padding: 0.5em;
  border: 1px solid silver;
  border-style: groove;
  margin: 0.3em;
  position: relative;
}

.charName {
  height: 17%;
  font-size: calc(0.2em + 2vmin);
  font-family: 'Special Elite', cursive;
}

.actor {
  height: 40px;
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: calc(0.18em + 2vmin);
    padding: 2em;
  }
} 

@media screen and (min-width: 600px) {
  .characters {
    margin-top: 1em;
  }
}




